
.vs/WpfAppChallenges/DesignTimeBuild/.dtbcache
.vs/WpfAppChallenges/DesignTimeBuild/.dtbcache
.vs/WpfAppChallenges/v16/.suo
.vs/WpfAppChallenges/v16/Server/sqlite3/storage.ide
.vs/WpfAppChallenges/v16/.suo
.vs/WpfAppChallenges/v16/.suo
.vs/WpfAppChallenges/v16/Server/sqlite3/storage.ide-shm
.vs/WpfAppChallenges/v16/Server/sqlite3/storage.ide-wal
.vs/WpfAppChallenges/v16/.suo
.vs/WpfAppChallenges/v16/Server/sqlite3/storage.ide-shm
.vs/WpfAppChallenges/v16/Server/sqlite3/storage.ide-wal
.vs/WpfAppChallenges/DesignTimeBuild/.dtbcache
.vs/WpfAppChallenges/v16/.suo
.vs/WpfAppChallenges/v16/Server/sqlite3/storage.ide
.vs/WpfAppChallenges/DesignTimeBuild/.dtbcache
